
					<div class="row">
						<div class="col-sm-12 text-center head-title">
							<h1>Co je nového</h1>
						</div>
					</div>
					<div class="row milestones">
						<div class="col-sm-12">

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Vítejte na Obchodním portále</h3>
									<p>
										Začněte ode dneška využívat všechny výhody, který vám nový portál pro obchodníky přináší: přímý přístup na DIRECT <strong>sjednavač</strong>, vše o smlouvách (zaplacenost, storna), přehledné on-line <strong>formuláře pro vaše dotazy i informace o produktech</strong> DIRECT pojišťovny. K <strong>rozpracovaným kalkulacím</strong> se můžete kdykoliv vrátit. V&nbsp;sekci Moje úkoly vám dáme vědět, jaké údaje nebo dokumenty od vás ke smlouvě ještě potřebujeme. Do budoucna pro vás chystáme i <strong>informace k&nbsp;pojistným událostem</strong> vašich klientů.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Prvních 500 smluv za dvojnásobnou provizi!</h3>
									<p>
										Pro začátek naší spolupráce jsme pro vás připravili exkluzivní motivační akci: <strong>Za prvních 500 smluv</strong> vám vyplatíme <strong>dvojnásobnou provizi</strong>. Neváhejte a získejte pro sebe atraktivní provizi za co nejvíce smluv. Akce se týká autopojištění, cestovního pojištění, pojištění majetku a odpovědnosti. Provize vyplatíme ze zaplacených smluv.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Získejte slevu pro zaměstnance a obchodníky NN</h3>
									<p>
										Pro zaměstnance a obchodníky NN máme samozřejmě něco navíc – navýšili jsme pro vás slevu na naše produkty o 15 %.<br> Vyzkoušejte si naše produkty se slevou:<br> <br> Autopojištění 30 %<br> Pojištění majetku 40 %<br> Pojištění odpovědnosti 30 %<br> Cestovní pojištění 55 %<br> <br> Se sjednáním neváhejte, akce končí 31. března 2016. Počátek pojištění je možné odložit až o 180 dní. <strong>Odkazy pro sjednání se slevou pro zaměstnance a obchodníky vám přijdou e-mailem z&nbsp;NN.</strong>
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištění majetku</h3>
									<p>
										Mít střechu nad hlavou a vědět, že je o ni postaráno – to je jistota, se kterou se dobře usíná. A je přitom jedno, jestli mluvíme o rodinném domě, bytu nebo chalupě. Řešení máme pro každé z nich.<br> <br> Proč od Directu:
									</p>
									<ul>
										<li>pojistit lze takřka na vše – od živlů, přes zloděje a sprejery až po ušlý nájem</li>
										<li>můžete si pojistit všechny stavby na pozemku a také stromy</li>
										<li>vyplácení i v nových cenách, za zničenou starou sedačku dostanete peníze na pořízení nové</li>
										<li>pojištění věcí v autě, jízdního kola i mimo dům nebo psa po celé ČR</li>
										<li>celá řada asistenčních služeb včetně právní a IT asistence</li>
									</ul>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištění odpovědnosti</h3>
									<p>
										Pojištění odpovědnosti ušetří bezesné noci, popotahování po soudech a nemalé výdaje.<br> <br> Proč od Directu:
									</p>
									<ul>
										<li>pojištěny jsou všechny osoby, které společně žijí na jedné adrese</li>
										<li>nejvyšší limity na trhu</li>
										<li>pojištění se může vztahovat i na zvířata či na nemovitost na uvedené adrese</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				