
					<div class="row">
						<div class="col-sm-12 text-center head-title">
							<h1>Co je nového</h1>
						</div>
					</div>
					<div class="row milestones">
						<div class="col-sm-12">

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Vítejte na Obchodním portále</h3>
									<p>
										Zaènìte ode dneška vyuívat všechny vıhody, kterı vám novı portál pro obchodníky pøináší: pøímı pøístup na DIRECT <strong>sjednavaè</strong>, vše o smlouvách (zaplacenost, storna), pøehledné on-line <strong>formuláøe pro vaše dotazy i informace o produktech</strong> DIRECT pojišovny. K <strong>rozpracovanım kalkulacím</strong> se mùete kdykoliv vrátit. V&nbsp;sekci Moje úkoly vám dáme vìdìt, jaké údaje nebo dokumenty od vás ke smlouvì ještì potøebujeme. Do budoucna pro vás chystáme i <strong>informace k&nbsp;pojistnım událostem</strong> vašich klientù.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Prvních 500 smluv za dvojnásobnou provizi!</h3>
									<p>
										Pro zaèátek naší spolupráce jsme pro vás pøipravili exkluzivní motivaèní akci: <strong>Za prvních 500 smluv</strong> vám vyplatíme <strong>dvojnásobnou provizi</strong>. Neváhejte a získejte pro sebe atraktivní provizi za co nejvíce smluv. Akce se tıká autopojištìní, cestovního pojištìní, pojištìní majetku a odpovìdnosti. Provize vyplatíme ze zaplacenıch smluv.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Získejte slevu pro zamìstnance a obchodníky NN</h3>
									<p>
										Pro zamìstnance a obchodníky NN máme samozøejmì nìco navíc – navıšili jsme pro vás slevu na naše produkty o 15 %.<br> Vyzkoušejte si naše produkty se slevou:<br> <br> Autopojištìní 30 %<br> Pojištìní majetku 40 %<br> Pojištìní odpovìdnosti 30 %<br> Cestovní pojištìní 55 %<br> <br> Se sjednáním neváhejte, akce konèí 31. bøezna 2016. Poèátek pojištìní je moné odloit a o 180 dní. <strong>Odkazy pro sjednání se slevou pro zamìstnance a obchodníky vám pøijdou e-mailem z&nbsp;NN.</strong>
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištìní majetku</h3>
									<p>
										Mít støechu nad hlavou a vìdìt, e je o ni postaráno – to je jistota, se kterou se dobøe usíná. A je pøitom jedno, jestli mluvíme o rodinném domì, bytu nebo chalupì. Øešení máme pro kadé z nich.<br> <br> Proè od Directu:
									</p>
									<ul>
										<li>pojistit lze takøka na vše – od ivlù, pøes zlodìje a sprejery a po ušlı nájem</li>
										<li>mùete si pojistit všechny stavby na pozemku a také stromy</li>
										<li>vyplácení i v novıch cenách, za znièenou starou sedaèku dostanete peníze na poøízení nové</li>
										<li>pojištìní vìcí v autì, jízdního kola i mimo dùm nebo psa po celé ÈR</li>
										<li>celá øada asistenèních slueb vèetnì právní a IT asistence</li>
									</ul>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištìní odpovìdnosti</h3>
									<p>
										Pojištìní odpovìdnosti ušetøí bezesné noci, popotahování po soudech a nemalé vıdaje.<br> <br> Proè od Directu:
									</p>
									<ul>
										<li>pojištìny jsou všechny osoby, které spoleènì ijí na jedné adrese</li>
										<li>nejvyšší limity na trhu</li>
										<li>pojištìní se mùe vztahovat i na zvíøata èi na nemovitost na uvedené adrese</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				