<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=10">
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Editor</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300">
<link rel="stylesheet" href="http://textangular.com/dist/textAngular.css">
<link rel="stylesheet" href="http://textangular.com/css/style.css" type="text/css">
</head>
<body>
	<div ng-app="App" ng-controller="EditorController">
		<div class="container">
			<div class="row">
				<div class="col-sm-12" ng-show="htmlContent.length > 0">
					<h3>Editor</h3>
					<div text-angular ng-model="htmlContent" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
					<input type="text" ng-model="editor.username" name="username" value="" /> <input type="password" ng-model="editor.password" name="password" value="" /> <a href="#" ng-click="save()">ulo?it</a>
				</div>
			</div>

			<div>
				<a href="#" ng-click="edit('editor-placement-id-1','aktuality','/portal/pages/templates')" ng-show="!(htmlContent.length > 0)">edit</a>
				
				<div class="container maincontainer calculationportal editor-placement-id-1">
				<!-- editor:edit -->
				<!-- editor:edit -->
					<div class="row">
						<div class="col-sm-12 text-center head-title">
							<h1>Co je nového</h1>
						</div>
					</div>
					<div class="row milestones">
						<div class="col-sm-12">

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Vítejte na Obchodním portále</h3>
									<p>
										Zaènìte ode dneška vyuívat všechny vıhody, kterı vám novı portál pro obchodníky pøináší: pøímı pøístup na DIRECT <strong>sjednavaè</strong>, vše o smlouvách (zaplacenost, storna), pøehledné on-line <strong>formuláøe pro vaše dotazy i informace o produktech</strong> DIRECT pojišovny. K <strong>rozpracovanım kalkulacím</strong> se mùete kdykoliv vrátit. V&nbsp;sekci Moje úkoly vám dáme vìdìt, jaké údaje nebo dokumenty od vás ke smlouvì ještì potøebujeme. Do budoucna pro vás chystáme i <strong>informace k&nbsp;pojistnım událostem</strong> vašich klientù.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Prvních 500 smluv za dvojnásobnou provizi!</h3>
									<p>
										Pro zaèátek naší spolupráce jsme pro vás pøipravili exkluzivní motivaèní akci: <strong>Za prvních 500 smluv</strong> vám vyplatíme <strong>dvojnásobnou provizi</strong>. Neváhejte a získejte pro sebe atraktivní provizi za co nejvíce smluv. Akce se tıká autopojištìní, cestovního pojištìní, pojištìní majetku a odpovìdnosti. Provize vyplatíme ze zaplacenıch smluv.
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Získejte slevu pro zamìstnance a obchodníky NN</h3>
									<p>
										Pro zamìstnance a obchodníky NN máme samozøejmì nìco navíc – navıšili jsme pro vás slevu na naše produkty o 15 %.<br> Vyzkoušejte si naše produkty se slevou:<br> <br> Autopojištìní 30 %<br> Pojištìní majetku 40 %<br> Pojištìní odpovìdnosti 30 %<br> Cestovní pojištìní 55 %<br> <br> Se sjednáním neváhejte, akce konèí 31. bøezna 2016. Poèátek pojištìní je moné odloit a o 180 dní. <strong>Odkazy pro sjednání se slevou pro zamìstnance a obchodníky vám pøijdou e-mailem z&nbsp;NN.</strong>
									</p>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištìní majetku</h3>
									<p>
										Mít støechu nad hlavou a vìdìt, e je o ni postaráno – to je jistota, se kterou se dobøe usíná. A je pøitom jedno, jestli mluvíme o rodinném domì, bytu nebo chalupì. Øešení máme pro kadé z nich.<br> <br> Proè od Directu:
									</p>
									<ul>
										<li>pojistit lze takøka na vše – od ivlù, pøes zlodìje a sprejery a po ušlı nájem</li>
										<li>mùete si pojistit všechny stavby na pozemku a také stromy</li>
										<li>vyplácení i v novıch cenách, za znièenou starou sedaèku dostanete peníze na poøízení nové</li>
										<li>pojištìní vìcí v autì, jízdního kola i mimo dùm nebo psa po celé ÈR</li>
										<li>celá øada asistenèních slueb vèetnì právní a IT asistence</li>
									</ul>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nové pojištìní odpovìdnosti</h3>
									<p>
										Pojištìní odpovìdnosti ušetøí bezesné noci, popotahování po soudech a nemalé vıdaje.<br> <br> Proè od Directu:
									</p>
									<ul>
										<li>pojištìny jsou všechny osoby, které spoleènì ijí na jedné adrese</li>
										<li>nejvyšší limity na trhu</li>
										<li>pojištìní se mùe vztahovat i na zvíøata èi na nemovitost na uvedené adrese</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					<!-- endeditor -->
				jedno, jestli mluv?me o rodinn?m dom?, bytu nebo chalup?. ?e?en? m?me pro ka?d? z nich.<br> <br> Pro? od Directu:
									</p>
									<ul>
										<li>pojistit lze tak?ka na v?e ? od ?ivl?, p?es zlod?je a sprejery a? po u?l? n?jem</li>
										<li>m??ete si pojistit v?echny stavby na pozemku a tak? stromy</li>
										<li>vypl?cen? i v nov?ch cen?ch, za zni?enou starou seda?ku dostanete pen?ze na po??zen? nov?</li>
										<li>poji?t?n? v?c? v aut?, j?zdn?ho kola i mimo d?m nebo psa po cel? ?R</li>
										<li>cel? ?ada asisten?n?ch slu?eb v?etn? pr?vn? a IT asistence</li>
									</ul>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nov? poji?t?n? odpov?dnosti</h3>
									<p>
										Poji?t?n? odpov?dnosti u?et?? bezesn? noci, popotahov?n? po soudech a nemal? v?daje.<br> <br> Pro? od Directu:
									</p>
									<ul>
										<li>poji?t?ny jsou v?echny osoby, kter? spole?n? ?ij? na jedn? adrese</li>
										<li>nejvy??? limity na trhu</li>
										<li>poji?t?n? se m??e vztahovat i na zv??ata ?i na nemovitost na uveden? adrese</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					<!-- endeditor -->
				dno, jestli mluv?me o rodinn?m dom?, bytu nebo chalup?. ?e?en? m?me pro ka?d? z nich.<br> <br> Pro? od Directu:
									</p>
									<ul>
										<li>pojistit lze tak?ka na v?e ? od ?ivl?, p?es zlod?je a sprejery a? po u?l? n?jem</li>
										<li>m??ete si pojistit v?echny stavby na pozemku a tak? stromy</li>
										<li>vypl?cen? i v nov?ch cen?ch, za zni?enou starou seda?ku dostanete pen?ze na po??zen? nov?</li>
										<li>poji?t?n? v?c? v aut?, j?zdn?ho kola i mimo d?m nebo psa po cel? ?R</li>
										<li>cel? ?ada asisten?n?ch slu?eb v?etn? pr?vn? a IT asistence</li>
									</ul>
								</div>
							</div>

							<div class="media milestone">
								<div class="media-left">
									<div class="green-circle">
										11.1<br /> 2016
									</div>
								</div>
								<div class="media-body">
									<h3>Spustili jsme nov? poji?t?n? odpov?dnosti</h3>
									<p>
										Poji?t?n? odpov?dnosti u?et?? bezesn? noci, popotahov?n? po soudech a nemal? v?daje.<br> <br> Pro? od Directu:
									</p>
									<ul>
										<li>poji?t?ny jsou v?echny osoby, kter? spole?n? ?ij? na jedn? adrese</li>
										<li>nejvy??? limity na trhu</li>
										<li>poji?t?n? se m??e vztahovat i na zv??ata ?i na nemovitost na uveden? adrese</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					<!-- endeditor -->
				</div>
				
			</div>
		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" type="text/javascript"></script>
		<script src="http://textangular.com/dist/textAngular-rangy.min.js" type="text/javascript"></script>
		<script src="http://textangular.com/dist/textAngular-sanitize.min.js" type="text/javascript"></script>
		<script src="http://textangular.com/dist/textAngular.min.js" type="text/javascript"></script>
		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/api-service.js" type="text/javascript"></script>
		<script src="js/controller.js" type="text/javascript"></script>
</body>
</html>
